h1.lema{
    background-color: #71C894;

}
ul{
    list-style: none;
}

li{
    display: inline;
    margin-left: 100px;
}

li a{
    text-decoration: none;
}
img.chooseveg{
  width:200px !important ;
}
div.link{
  float:left;
}
div.header_menu{
  padding-top: 5px;
}
.container_post {
  padding-top: 48px;
  padding-bottom: 48px;
  background: #fff;
  position: relative;
  margin-top: -48px;
  margin-left: 144px;
  margin-right: 144px;
}
.container{
  padding: 0 140px;
  padding-top: 20px;
}

.hero--post {
    display: block;
    padding: 0;
}

@media (min-width: 720px){
  .container_post {
    max-width: 1024px;
  }
}


@media (min-width: 720px){
  .hero {
    height: 60vh;
    max-height: 570px;
  }

}


.hero {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  min-height: 320px;
  display: table;
  width: 100%;
  position: relative;
  /* padding: 50px 0; */
}
.hero--post img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  width: 100%;
  height: 100%;
  max-width: none;
  min-height: 320px;
}

